<div class="container flex justify-center w-full mx-auto h-dvh">
  <div class="flex flex-col items-center w-full">
    <h1 class="py-16 text-4xl font-medium md:text-6xl">
      Minhas tarefas
    </h1>
    <div class="flex flex-col w-full h-full gap-5 p-2">
      <div class="flex flex-col gap-2 md:flex-row">
        <input type="text" [(ngModel)]="newTask" placeholder="digite uma tarefa"
        class="w-full px-4 py-3 border-2 border-solid rounded shadow-md border-zinc-500 outline-zinc-700 placeholder:text-lg placeholder:text-zinc-400 focus:placeholder:text-zinc-700 h-14">
        <button (click)="addTask()" class="w-full text-lg text-white transition-all duration-150 border-2 border-solid rounded shadow-md md:w-2/6 h-14 bg-zinc-500 border-zinc-500 hover:bg-zinc-600 active:bg-zinc-700 hover:border-zinc-600">
          Adicionar tarefa
        </button>
      </div>
      <div class="flex flex-col w-full h-full gap-3 p-2 overflow-auto border-2 border-solid rounded shadow-md border-zinc-500">
        <li *ngFor="let task of tasks; let i = index" class="flex items-center justify-between w-full gap-3 p-2 break-all list-none border-b-2 border-solid border-zinc-500">
          <h1 class="w-48 text-lg md:w-3/4">
            {{ task }}
          </h1>
          <div class="flex gap-3">
            <button (click)="deleteTask(i)" class="px-4 py-3 text-white bg-red-500 rounded max-w-36">
              Deletar tarefa
            </button>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
